[submodule "apps/ViewPagerIndicator"]
	path = apps/ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "apps/ActionBarSherlock"]
	path = apps/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "apps/pull-to-refresh"]
	path = apps/pull-to-refresh
	url = https://github.com/johannilsson/android-pulltorefresh.git
[submodule "apps/actionbar"]
	path = apps/actionbar
	url = https://github.com/johannilsson/android-actionbar.git
[submodule "apps/SlidingMenu"]
	path = apps/SlidingMenu
	url = https://github.com/jfeinstein10/SlidingMenu.git
[submodule "apps/viewflow"]
	path = apps/viewflow
	url = https://github.com/pakerfeldt/android-viewflow.git
[submodule "apps/viewbadger"]
	path = apps/viewbadger
	url = https://github.com/jgilfelt/android-viewbadger
[submodule "apps/CoverFlowWidget"]
	path = apps/CoverFlowWidget
	url = https://github.com/HelgePlaschke/Android-Cover-Flow-Widget.git
[submodule "sampleapps/google-iosched"]
	path = sampleapps/google-iosched
	url = https://github.com/jwang/iosched.git
[submodule "ui/PathButton"]
	path = ui/PathButton
	url = https://github.com/dodola/PathButton.git
[submodule "ui/RibbonMenu"]
	path = ui/RibbonMenu
	url = https://github.com/darvds/RibbonMenu.git
