[submodule "ui/ViewPagerIndicator"]
	path = ui/ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "ui/ActionBarSherlock"]
	path = ui/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "ui/pull-to-refresh"]
	path = ui/pull-to-refresh
	url = https://github.com/johannilsson/android-pulltorefresh.git
[submodule "ui/actionbar"]
	path = ui/actionbar
	url = https://github.com/johannilsson/android-actionbar.git
[submodule "ui/SlidingMenu"]
	path = ui/SlidingMenu
	url = https://github.com/jfeinstein10/SlidingMenu.git
[submodule "ui/viewflow"]
	path = ui/viewflow
	url = https://github.com/pakerfeldt/android-viewflow.git
[submodule "ui/viewbadger"]
	path = ui/viewbadger
	url = https://github.com/jgilfelt/android-viewbadger
[submodule "ui/CoverFlowWidget"]
	path = ui/CoverFlowWidget
	url = https://github.com/HelgePlaschke/Android-Cover-Flow-Widget.git
[submodule "sampleapps/google-iosched"]
	path = sampleapps/google-iosched
	url = https://github.com/jwang/iosched.git
[submodule "ui/PathButton"]
	path = ui/PathButton
	url = https://github.com/dodola/PathButton.git
[submodule "ui/RibbonMenu"]
	path = ui/RibbonMenu
	url = https://github.com/darvds/RibbonMenu.git
[submodule "ui/waterfall-grid"]
	path = ui/waterfall-grid
	url = https://github.com/dodola/android_waterfall.git
[submodule "ui/SwitchButton"]
	path = ui/SwitchButton
	url = https://github.com/IssacWang/SwitchButton.git
[submodule "ui/cards-ui"]
	path = ui/cards-ui
	url = https://github.com/nadavfima/cardsui-for-android.git
[submodule "ui/Staggered-GridView"]
	path = ui/Staggered-GridView
	url = https://github.com/chrisjenx/StaggeredGridView.git
[submodule "ui/times-squre-calender"]
	path = ui/times-squre-calender
	url = https://github.com/square/android-times-square.git
[submodule "sampleapps/oschina"]
	path = sampleapps/oschina
	url = https://github.com/oschina/android-app.git
[submodule "ui/actionbar-style-generator"]
	path = ui/actionbar-style-generator
	url = https://github.com/jgilfelt/android-actionbarstylegenerator.git
[submodule "ui/swipe-listview"]
	path = ui/swipe-listview
	url = https://github.com/47deg/android-swipelistview.git
[submodule "market/BillingLibrary"]
	path = market/BillingLibrary
	url = https://github.com/robotmedia/AndroidBillingLibrary.git
[submodule "game/AndEngine"]
	path = game/AndEngine
	url = https://github.com/nicolasgramlich/AndEngine.git
[submodule "ui/MenuDrawer"]
	path = ui/MenuDrawer
	url = https://github.com/SimonVT/android-menudrawer.git
